<head>
<title>Animal</title>
</head>
<body>
<form action="#"
      th:action="@{/animals/add}"
      th:object="${animalDTO}"
      method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}">
    <label for="character">Character:</label>
    <input type="text" id="character" th:field="*{character}">
    <label for="cost">cost</label>
    <input type="text" id="cost" th:field="*{cost}">
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" th:field="*{birthday}">
    <label for="breedId">Breed Id:</label>
    <select id="breedId" th:field="*{breedId}">
        <option value="">Select Breed</option>
        <option th:each="breed : ${breeds}" th:value="${breed.id}" th:text="${breed.breed}"></option>
    </select>
    <label for="animalTypeId">Animal type Id:</label>
    <select id="animalTypeId" th:field="*{animalTypeId}">
        <option value="">Select Breed</option>
        <option th:each="animalType : ${animalTypes}" th:value="${animalType.id}" th:text="${animalType.type}"></option>
    </select>
    <input type="submit" name="action" value="Add">
    <input type="submit" name="action" value="Cancel">
</form>
</body>